<div class="form form-group">
    <label>Name product</label>
    <input class="form form-control"  type="text" placeholder="new product"/>
</div>
<div class="form form-group">
    <label>Name product</label>
    <input class="form form-control"  type="text" placeholder="new product"/>
</div>

@code{
    
}