@using Inventario.Data
@using InventarioBlazor.Models
@page "/context"
@inject IDbContextFactory<InventarioContext> Inv
@using Microsoft.EntityFrameworkCore

<h2>La base de datos existe: @flag</h2>

<div class="p-3 mb-2 bg-primary-subtle text-emphasis-primary">
    <h3>Listado de productos</h3>
    <p>Productos semillas si no existen datos</p>
</div>

@foreach (var e in context.Model.GetEntityTypes())
{
    <p>@e.Name</p>
}

@code{
    bool flag;
    InventarioContext context ;

    protected override void OnInitialized()
    {
        context = Inv.CreateDbContext();
        flag = context.Database.IsSqlServer();
    }


}